<h1>Listing cds</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Hostname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cds.each do |cd| %>
  <tr>
    <td><%= cd.name %></td>
    <td><%= cd.hostname %></td>
    <td><%= link_to 'Show', cd %></td>
    <td><%= link_to 'Edit', edit_cd_path(cd) %></td>
    <td><%= link_to 'Destroy', cd, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cd', new_cd_path %>
