<h1>Listing rhuas</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Hostname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rhuas.each do |rhua| %>
  <tr>
    <td><%= rhua.name %></td>
    <td><%= rhua.hostname %></td>
    <td><%= link_to 'Show', rhua %></td>
    <td><%= link_to 'Edit', edit_rhua_path(rhua) %></td>
    <td><%= link_to 'Destroy', rhua, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rhua', new_rhua_path %>
