<h1>Listing aws_regions</h1>


<div id="aws_forum_sync">
  <button id="aws_forum_sync_button" class="btn btn-info"> Sync with AWS Forums IP Range Post </button>
  <div id="aws_forum_sync_status"></div>
</div>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aws_regions.each do |aws_region| %>
  <tr>
    <td><%= aws_region.name %></td>
    <td><%= link_to 'Show', aws_region %></td>
    <td><%= link_to 'Edit', edit_aws_region_path(aws_region) %></td>
    <td><%= link_to 'Destroy', aws_region, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Aws region', new_aws_region_path %>
